<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Model.MessagingDAO"> <!-- mapper를 누가사용할것인ㄴ지 정해줌 -->

	<select id = "SendMessaging"  resultType = "Model.MessagingVO">
		select jp_messaging.msg_content, jp_messaging.msg_time,jp.member.mem_name, jp_member.mem_guardian_tel
		from jp_messaging, jp_member
		where jp_messaging.mem_id = jp_member.mem_id;
	 </select>

</mapper>
