

/* .bg {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
} */

body {
	background-image:url("https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_960_720.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}


.gender {
	text-align: center;
}

body .wrap{
	height: 100%;
	width: 100%;
}


.wrap {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
    background:rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-wrap {
	width: 380px;
    height: 700px;
    position: relative;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.togglebtn {
	text-align:center;
    padding: 10px ;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


/* 회원가입 버튼 ================*/
#btn {
    text-align: center;
	width: 170px;
    padding: 10px 30px;s
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    border: 0;
    outline: none;
    border-radius: 30px; 
    margin: 0px 0px 60px 35px;
}
/* 회원가입 버튼 ================*/


.button-wrap {
    width: 130px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
}

.ge{
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-group {
	margin-top:50px;
    top: 50px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

/* 하단 회원가입 버튼 */
.submit {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 60px 0px 0px 70px;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}
/* 하단 회원가입 버튼 */


.checkbox {
    margin: 30px 10px 30px 0;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}