body{
	height: 100vh;  
    background-repeat : no-repeat;
    background-size : cover;
}

video {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px auto;
	position: absolute;
	object-fit: fill;
}


.wrap_bg {
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	display: inline;
	position: absolute;
	left: 0
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.button-wrap {
    width: 130px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 600px 9px #fcae8f;
    border-radius: 30px;
}

.ge{
    padding: 10px 0;
    margin: 5px 0;
    border: none;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.input-group {
	margin-top:185px;
    position: absolute;
    width: 280px;
    transition: .5s;
}


.input-group1 {
	margin-top:90px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-wrap {
	/*여기가 컴퓨터로 보는 화면의 설정 화면이구요 로그인 창 */
    width: 360px;
    height: 700px;
    position: absolute;
    margin: 120px 737px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}


.form-wrap {
	/*여기가 컴퓨터로 보는 화면의 설정 화면이구요 로그인 창 */
    width: 360px;
    height: 700px;
    position: absolute;
    margin: 120px 737px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}


.togglebtn {
	text-align:center;
    padding: 10px ;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}


/* 회원가입 버튼 ================*/
#btn {
    text-align: center;
	width: 170px;
    padding: 10px 30px;s
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    border: 0;
    outline: none;
    border-radius: 30px; 
    margin: 0px 0px 60px 35px;
}
/* 회원가입 버튼 ================*/
.gender {
	text-align: center;
}

body .wrap{
	height: 100vh;
	width: 100vh;
}

/* 하단 회원가입 버튼 */
.submit {
    width: 50%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 60px 0px 0px 70px;
    background: linear-gradient(to right, #1c92d2, #f2fcfe);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-size: 15px;
}
/* 하단 회원가입 버튼 */


.checkbox {
    margin: 30px 10px 30px 0;
}
span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login {
    left: 50px;
}















/* 메인========================================================================= */


.login {
	color: white;
	text-decoration-line: none;
	padding: 30px;
	font-size: 20px;
}

/* 로고 */
#logo {
	margin-left: 15px;
	color: #ffffff;
	font-size: 60px;
}
/* 로고 */





/* 메인 글자 */
.text {
	position: absolute;
	width: 100%;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text p {
	text-align: center;
	font-size: 50px;
	color: #ffffff;margin:0px auto;
}
/* 메인 글자 */


#loginbutton {
	width:140px;
	height: 50px;
	margin:0px auto;
	color: white;
	text-align: center;
	vertical-align: middle;
	border: 2px solid white;
	border-radius: 30px;
	box-sizing: border-box;
}

/*------------------*/
/* Layout (No Edit) */
/*------------------*/
@media ( max-width :664px) {
	.bg {
		height: auto;
	}
	video {
		height: 400px;
	}
	.text p {
		font-size: 24px;
	}
}

/* 메인========================================================================= */





















.login {
	color: white;
	text-decoration-line: none;
	padding: 30px;
	font-size: 20px;
}




.list:hover{
	color: red;
}

.menu{
	height: 50px;
    position: relative;
    width: auto;
    padding: 10px 40px;
}

a {
	color: white;
	text-decoration-line: none;	
	float:right;
}



.menu ul li{
	float:left;
	height:100%;
	text-align: center;
}

.menu ul li a{
	display:block;
}


.list{
	padding-top: 45px;
}







ul{
	list-style: none;
}


/* 로고 */
.logo {
	color: #ffffff;
	font-size: 50px;
	margin: 0px;
	    padding-left: 0px;
}
/* 로고 */

.ma{
	color: #ffffff;
	font-size: 60px;
	text-align: center;
}


.ma1{
	position: fixed;
	top: 39%;
    left: 38%;
	}



/* 메인 글자 */
.text {
	position: absolute;
	width: 100%;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text p {
	text-align: center;
	font-size: 50px;
	color: #ffffff;margin:0px auto;
}
/* 메인 글자 */






#loginbutton {
	width:140px;
	height: 50px;
	margin:0px auto;
	color: white;
	text-align: center;
	vertical-align: middle;
	border: 2px solid white;
	border-radius: 30px;
	box-sizing: border-box;
}



/*------------------*/
/* Layout (No Edit) */
/*------------------*/
@media ( max-width :664px) {
	.bg {
		height: auto;
	}
	video {
		height: 400px;
	}
	.text p {
		font-size: 24px;
	}
}



img{
	width:60px;
	height:60px;
	margin-top:30px;
	margin-right:30px;
}




