

/* 검색버튼 */
.btn {
	cursor: pointer;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
}
/* 검색버튼 */
@media ( prefers-reduced-motion : reduce) {
	.btn {
		transition: none;
	}
}

.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}


}
body {
	margin: 0px;
}

.section1 {
	width: 70%;
	height: 614px;
	border-radius: 56px;
	margin-top: 44px;
	position: absolute;
	margin-left: 14.6%;
}

.section2 {
	width: 51%;
	border-radius: 56px;
	margin-left: 43%;
	float: left;
	margin-right: 20px;
	height: 540px;
	box-shadow: 0 4px 15px -4px #000;
	margin-top: 20px;
}

.section3 {
    width: 31%;
    border-radius: 56px;
    margin-left: 6%;
    float: left;
    margin-right: 20px;
    height: 540px;
    box-shadow: 0 4px 15px -4px #000;
    margin-top: 20px;
}



section {
	box-shadow: 0 4px 15px -4px #000;
	margin-top: 64px;
	margin-left: -45px;
	width: 430px;
	height: 176px;
	position: absolute;
	text-align: left;
}

.section2 {
	
}


.write_1 {
    margin-left: 203px;
    margin-top: 531px;
    position: absolute;
    width: 100%;
    text-align: center;
}


.my-1{
	margin-top: 55px;
}

.my_1{
margin-bottom: 6%;
    font-size: 23px;
    margin-left: 50px;
    margin-right: 168px;
    text-align: end;
}

.write {
	/* margin-left: 443px; */
	margin-top: 488px;
	position: absolute;
	width: 100%;
	text-align: center;
}

.write2 {
	background-color: #4682b4;
	border-radius: 15px;
	width: 100px;
	height: 34px;
	color: white;
	font-weight: bolder;
}

.mypage {
	margin-top: 68px;
}



.mypage1 {
	width: 93%;
	height: 500px;
	border-radius: 56px;
	margin-top: -30px;
	position: absolute;
	margin-left: 3.3%;
	text-align: center;
}

.write_2 {
	text-align: center;
	margin-top: 20px;
}

.centerline tr td {
	border-right: 1px solid black;
}

.centerline {
	width: 34%;
	height: 567px;
	border-radius: 56px;
	margin-left: 17%;
	margin-top: -99px;
	position: absolute;
}

.page1 {
	font-size: 20px;
}





section1:hover {
	box-shadow: 0 4px 15px -4px #fff;
}

