@charset "UTF-8";


*{
	margin:0;
	
}

.search{
    margin-left: 20%;
    width: 365px;
}


/* 상단 배경 */
:root { -
	-bs-dark-rgb: 33, 37, 41;
}


/* 검색===================================================== */
.navbar {
display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    width: 86%;
    float: right;
        background: white;
}
/* 검색===================================================== */

.member{
margin-top: 30px;
    margin-left: 12%;
}

.member1{
	margin-top : 13px;
	margin-left: auto;
    margin-right: auto;
}



.this {
    margin-left: 95px;
    margin-top: 136px;
    font-size: 38px;
    width: 200px;
}

hr {
    width: 99.3%;
    margin-top: -11px;
}

.logoteam{
margin-top: 1px;
    height: 91px;
    text-align: center;
    color: white;
    padding-top: 14px;
    font-size: 32px;
}
.logoteam1{
padding-top: 14px;
    font-size: 25px;
    color: white;
}


/* 로고 */
.logo {
	padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2rem;
    margin-left: 21px;
    color: white;
}


.logo1 {
    font-size: 2rem;
    margin-left: 21px;
    color: white;
    text-align: center;
    margin-left: 35%;
}
/* 로고 */



/* 배경 */
.bg {
	--bs-bg-opacity: 1;
	border-bottom: 1px solid gray;

}
/* 배경 */

/* 검색버튼 */
.btn {
	vertical-align: middle;
	cursor: pointer;
	padding: 0.375rem 0.75rem;
	border-radius: 0.25rem;
}
/* 검색버튼 */
@media ( prefers-reduced-motion : reduce) {
	.btn {
		transition: none;
	}
}

.btn-primary {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

#sidemenu {
	display: flex;
}

#sidemenu #sidemenu_section {
	flex-basis: 225px;
	flex-shrink: 0;
	transition: transform 0.15s ease-in-out;
	z-index: 1038;
	transform: translateX(-225px);
}

.sb-sidenav .sb-sidenav-menu .nav .menu {
padding: 1.75rem 1rem 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

/* 왼쪽 사이드바 글자 */
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
	display: flex;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	position: relative;
}

ul {
    list-style: none;
    padding: 0px;
}

li {
text-align: center;
    margin-top: 13px;
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
}


.sb-menu:hover{
	color:white;
}
 
 a.sb-menu.sb-menu1:visited{
 color: white;

 }
 
 a.sb-menu.sb-menu1{
        background: rgba(255, 255, 255, 0.3);
    border-radius: 28px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
 }

.sb-menu {
    color: rgba(255, 255, 255, 0.25);
    font-size: 19px;
    text-decoration-line: none;
}
/* 왼쪽 사이드바 글자 */

/* 왼쪽 사이드바 */
.sidemenu-bg {
	background-color: #212537;
}

.sb-sidenav {
    height: 104.2%;
    width: 118%;
}
/* 왼쪽 사이드 여닫기 */
@media ( min-width : 992px) {
	#sidemenu #sidemenu_section {
		transform: translateX(0);
	}
}
/* 왼쪽 사이드 여닫기 */

/* 내용 */
#layoutSidenav_content {
	min-height: calc(100vh - 56px);
	margin-left: -225px;
}
/* 왼쪽 사이드바 */

/* 내용 */
.breadcrumb {
	padding: 0 0;
	position: relative;
}
/* 내용 */
#sidemenu {
	display: flex;
}

@media ( min-width : 992px) {
	#sidemenu #sidemenu_section {
		transform: translateX(0);
	}
	#sidemenu #layoutSidenav_content {
		margin-left: 0;
		transition: margin 0.15s ease-in-out;
	}
	.
	#sidemenu #sidemenu_section {
		transform: translateX(-225px);
	}
	#sidemenu #layoutSidenav_content {
		margin-left: -225px;
	}
	#sidemenu #layoutSidenav_content:before {
		display: none;
	}
}

@media ( min-width : 992px) {
	#sidemenu #layoutSidenav_content {
		margin-left: 0;
		transition: margin 0.15s ease-in-out;
	}
}









@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

table {
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 1350px;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table thead tr {
  height: 60px;
  background: #21252D;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}



.table-tr th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

body{
	margin: 0px;
	background: rgba(204, 240, 230, 0.2);
}


tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.name {
  width: 10%;
  padding-left: 40px;
}

.gender {
  width: 10%;
}

.birth {
  width: 15%;
}

.number1 {
  width: 15%;
}

.number2 {
  width: 15%;
}

.number3 {
 width: 15%;
}

th{
	text-align: left;
	padding-left: 40px;
}
td{
	padding-left: 40px;
}

.th1{
	color: white;
}




@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }



  tbody tr {
    font-size: 14px;
  }
}

}

.imgback {
    width: 100%;
}

.se1{
	width:30px;
	    height: 30px;
}

.se{
	font-size:15px;
	border:none;
	        border-bottom: 1px solid;
	        	position: relative;
}
.btn{
	background-color: white;
	border:none;
	position: relative;
}

.imgback {
    width: 100%;
}


img {
	height: 60px;

	margin-right: 30px;
	float: right;
}

button#img_btn {
    background: none;
    border : none;
}




img.eye {
    width: 100px;
    height: 100px;
    margin-left: 81px;
    margin-top: -7px;
}






