@charset "UTF-8";


*{
   margin:0;
   
}

main {
    width: 135%;
}


.search{
    text-align: center;
    margin-left: 758px;
}


.abc{
   color: black;
   text-decoration-line: none;
}

.write{
    text-align: center;
    margin-left: 865px;
    margin-top: 20px;
    width: 38%;
}

.write_1 {
margin-left: 14px;

    text-align: center;
}

.inpu{
   width:188px;
}


.write2{
background-color: #4682b4;
    border-radius: 15px;
    width: 100px;
    height: 34px;
    color: white;
    font-weight: bolder;
}


.write_2{
   text-align: center;
    margin-top: 20px;
}



/* 상단 배경 */
:root { -
   -bs-dark-rgb: 33, 37, 41;
}


/* 검색===================================================== */
.navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 0.5rem;
   padding-bottom: 0.5rem;
   
}
/* 검색===================================================== */

.member{
   margin-top : 13px;
   margin-left: auto;
    margin-right: auto;
}

.se{
   font-size:15px;
   border:none;
           border-bottom: 1px solid;
}
.se1{
   width:22px;
}


.this {
margin-left: 71px;
    margin-top: 120px;
    font-size: 38px;
    text-align: inherit;
    padding-left: 6px;
}

.btn{
   background-color: white;
   border:none;
}

.page{
    text-align: center;
    width: 117%;
}


/* 로고 */
.logo {
   padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2rem;
    margin-left: 21px;
    color: white;
    text-decoration-line: none;
    
}
/* 로고 */

.write3{
   margin-top:37px;
}



table.table2{
                border-collapse: separate;
                border-spacing: 1px;
                text-align: left;
                line-height: 1.5;
                border-top: 1px solid #ccc;
                margin : 20px 10px;
        }
        table.table2 tr {
                 width: 50px;
                 padding: 10px;
                font-weight: bold;
                vertical-align: top;
                border-bottom: 1px solid #ccc;
        }
        table.table2 td {
                 width: 100px;
                 padding: 10px;
                 vertical-align: top;
                 border-bottom: 1px solid #ccc;
        }





.bg {
    --bs-bg-opacity: 1;
    border-bottom: 1px solid gray;
}


/* 검색버튼 */
.btn {
   cursor: pointer;
   padding: 0.375rem 0.75rem;
   border-radius: 0.25rem;
}
/* 검색버튼 */
@media ( prefers-reduced-motion : reduce) {
   .btn {
      transition: none;
   }
}

.btn-primary {
   color: #fff;
   background-color: #0d6efd;
   border-color: #0d6efd;
}



.sb-menu {
color: rgba(255, 255, 255, 0.25);
    font-size: 25px;
           text-decoration-line: none;
}
/* 왼쪽 사이드바 글자 */


/* 내용 */
#layoutSidenav_content {
   min-height: calc(100vh - 56px);
}
/* 왼쪽 사이드바 */

/* 내용 */
.breadcrumb {
   padding: 0 0;
   position: relative;
}
/* 내용 */
#sidemenu {
   display: flex;
}

@media ( min-width : 992px) {
   #sidemenu #sidemenu_section {
      transform: translateX(0);
   }
   #sidemenu #layoutSidenav_content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
   }
   .
   #sidemenu #sidemenu_section {
      transform: translateX(-225px);
   }
   #sidemenu #layoutSidenav_content {
      margin-left: -225px;
   }
   #sidemenu #layoutSidenav_content:before {
      display: none;
   }
}

@media ( min-width : 992px) {
   #sidemenu #layoutSidenav_content {
      margin-left: 0;
      transition: margin 0.15s ease-in-out;
   }
}


.writetd{
   padding-left: 14px;
}

.writetd1{
   padding-left:10px;
}


.writeth{
       color: black;
    background-color: whitesmoke;
    padding-right: 85px;
    padding-left: 85px;
    text-align: center;
    width: 75px;
}

.writeview{
   text-align: center;
    margin-left: 727px;
    margin-top: 20px;
}


.table3, .writeth, .writetd{
   border: 1px solid black;
}

.table3{
   margin-top:135px;
}


.answer{
   width: 97%;
    height: 36px;
    border:none;
    font-size: 19px;
}

.answer1{
   width: 725px;
    height: 360px;
   border:none;
   font-size: 25px;
}

.board2{
   height:25px;
   font-size: 19px;
}

.board3{
   font-size: 19px;
}

.writetd2{
   text-align: center;
   border-right: 1px solid #ccc;
   vertical-align: middle;
}



.board2, .board3{
   border: none;
}


.viewwrite{
   background-color: #4682b4;
    border-radius: 15px;
    width: 88px;
    height: 34px;
    color: white;
    font-weight: bolder;
}

.password1{
   width: 172px;
}


@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

table {
    border-collapse: collapse;
    background-color: white;
    overflow: hidden;
    width: 84%;
    margin: 0 auto;
    position: relative;
    margin-left: 10%;
    margin-top: 36px;
}

table * {
  position: relative;
}
table thead tr {
  height: 60px;
  background: #f5f5f5;
  border-top: 2px solid;
}
table tbody tr {
  height: 50px;
}


.th1{
   color:#000000;
}

.td1{
   color:#000000;
   border-bottom: 1px solid lightgray;
}

.table-tr th{
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}


tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.abc:hover{
   color: red;
}

.name {
  width: 47px;
  padding-left: 40px;
  text-align:center;
}

.title {
  width: 518px;
}

.ID {
  width: 100px;
}



.date {
 width: 118px;
}

th{
   text-align: left;
   padding-left: 40px;
}
td{
   padding-left: 40px;
}


@media screen and (max-width: 992px) {
  table {
    display: block;
  }
  table > *, table tr, table td, table th {
    display: block;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }



  tbody tr {
    font-size: 14px;
  }
}










.this{
   margin-left: 39px;
}







.ddd{
   border: 1px solid black;
    width: 100%;
    height: 700px;
    border-radius: 56px;
    border: none;
    padding-left: 33px;
}

.logo {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2rem;
    margin-left: 21px;
    color: white;
}


.picture{
   width:50%;
}

body{
   margin: 0px;
   background: rgba(204, 240, 230, 0.2);
}

.section1 {
    width: 396%;
    height: 568px;
    border-radius: 56px;
    margin-left: 23%;
}
}
.section2 {
    width: 43%;
    border-radius: 56px;
    margin-left: 5%;
}




.section3 {
    width: 54%;
    height: 440px;
    border-radius: 56px;
    margin-left: 4%;
        margin-top: 67px;
}
.section4 {
    width: 41%;
    height: 200px;
    border-radius: 56px;
    margin-left: 4%;
}
.section5 {
    width: 43%;
    height: 251px;
    border-radius: 56px;
    margin-left: 5%;
    margin-top: -25px;
}


.my-1{
margin-bottom: 4%;
    font-size: 23px;
    margin-right: -44px;
    text-align: end;
    margin-top: 29px;
}

.my_1{
margin-bottom: 4%;
    font-size: 23px;
    margin-left: 69px;
    margin-right: 232px;
    text-align: end;
}
section {
    float: left;
    margin-right: 20px;
    box-shadow: 0 4px 15px -4px #000;
    margin-top: 20px;
}

.section2 {
    float: left;
    margin-right: 20px;
    height: 440px;
    box-shadow: 0 4px 15px -4px #000;
    margin-top: 67px;
    width: 30%;
    border-radius: 56px;
    margin-left: 5%;
}




/* section:hover {  box-shadow: 0 4px 15px -4px #fff; } */


.file2{
   width:50%;
}

.file1{
   width:50px;
}

.sizing{
   width: 30px;
}































































.imgback {
    width: 100%;
}

.se1{
   width:30px;
       height: 30px;
}

/* 검색===================================================== */
.navbar {
display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    width: 86%;
    float: right;
    background: white;
}
/* 검색===================================================== */

.member{
margin-top: 30px;
    margin-left: 10%;
}
@charset "UTF-8";


*{
   margin:0;
   
}

.search{
    margin-left: 20%;
    width: 365px;
}


/* 상단 배경 */
:root { -
   -bs-dark-rgb: 33, 37, 41;
}


.this {
margin-left: 71px;
    margin-top: 120px;
    font-size: 38px;   
}

hr {
    width: 99.3%;
    margin-top: -24px;
}



.logoteam{
margin-top: 1px;
    height: 91px;
    text-align: center;
    color: white;
    padding-top: 14px;
    font-size: 32px;
}
.logoteam1{
padding-top: 14px;
    font-size: 25px;
    color: white;
}



.logo {
   padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 2rem;
    margin-left: 21px;
    color: white;
}


.logo1 {
    font-size: 2rem;
    margin-left: 21px;
    color: white;
    text-align: center;
    margin-left: 35%;
}


.se{
   font-size:15px;
   border:none;
           border-bottom: 1px solid;
              position: relative;
}
.btn{
   background-color: white;
   border:none;
   position: relative;
}

#sidemenu {
   display: flex;
}



color: rgba(255, 255, 255, 0.25);{
    font-size: 25px;
           text-decoration-line: none;
}

.sidemenu-bg {
   background-color: #212537;
}

.sb-sidenav .sb-sidenav-menu .nav .nav-link {
   display: flex;
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   position: relative;
}



.btn-primary {
   color: #fff;
   background-color: #0d6efd;
   border-color: #0d6efd;
}



.btn {
   vertical-align: middle;
   cursor: pointer;
   padding: 0.375rem 0.75rem;
   border-radius: 0.25rem;
}



#sidemenu #sidemenu_section {
   flex-basis: 225px;
   flex-shrink: 0;
   transition: transform 0.15s ease-in-out;
   z-index: 1038;
   transform: translateX(-225px);
}

.sb-sidenav .sb-sidenav-menu .nav .menu {
padding: 1.75rem 1rem 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
}




ul {
    list-style: none;
    padding: 0px;
}

li {
text-align: center;
    margin-top: 13px;
    font-size: 24px;
    padding-left: 20%;
    padding-right: 20%;
}



.sb-sidenav {
    height: 104.5%;
    width: 276px;
}

#layoutSidenav_content {
   min-height: calc(100vh - 56px);
   margin-left: -225px;
}

@media ( min-width : 992px) {
   #sidemenu #sidemenu_section {
      transform: translateX(0);
   }
}


@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

.imgback {
    width: 100%;
}


img {
   height: 60px;
   margin-right: 30px;
   float: right;
}




